body {
    display: flex;
    height: 100vh;
}
.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
    margin-left: 2%;
}
.mdc-top-app-bar--fixed-adjust {
    padding-top: 75px;
}
.main-content {
    overflow: auto;
    height: 100%;
}
.app-bar {
    position: absolute;
}
.mdc-top-app-bar {
    z-index: 7;
}
