:root {
	--color-white: #fff;
	--color-black: #222;
	--color-grey: #777471;
	--color-stone: #edeae6;
	--color-yellow: #f5d652;
	--color-canary: #fff5ca;
	--color-cobalt: #0074e4;
	--color-sky: #b6dbff;
	--color-blurple: #5522fa;
	--color-lavender: #d5d2ff;
	--color-purple: #7700a2;
	--color-pink: #cb84de;
	--color-salmon: #ec8580;
	--color-peach: #fee5da;
	--color-teal: #5fddc5;
	--color-mint: #b3f4e0;
	--color-shadow: rgba(0, 0, 0, 0.1);
	--color-shadow-dark: rgba(0, 0, 0, 0.2);
	--color-text: var(--color-black);
	--color-background: var(--color-stone);
	--color-sheet: var(--color-white);
	--color-neutral: var(--color-grey);
	--color-link: var(--color-blurple);
	--color-accent: var(--color-teal);
	--space-x-small: 0.25em;
	--space-small: 0.5em;
	--space-medium: 1em;
	--space-large: 2em;
	--space-x-large: 3em;
	--space-xx-large: 4em;
	--space-xxx-large: 6em;
	--space-navbar: 4em;
	--font-sans: 'Source Sans Variable', 'Helvetica Neue', helvetica, 'Apple Color Emoji', arial, sans-serif;
	--font-mono: monospace;
	--type-base: calc(1.6em + 0.5vw);
	--type-xxx-small: 55%;
	--type-xx-small: 65%;
	--type-x-small: 75%;
	--type-small: 85%;
	--type-medium: 100%;
	--type-large: 125%;
	--type-x-large: 150%;
	--type-xx-large: 200%;
	--type-xxx-large: 300%
}

@media (min-width: 45em) {
	:root {
		--type-base: calc(0.9em + 0.9vw)
	}
}

*,
*::before,
*::after {
	box-sizing: border-box
}

html {
	font-size: 10px;
	overflow-x: hidden;
	scroll-padding: 10em 0 0 0
}

body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
	font-size: var(--type-base);
	color: var(--color-text);
	background-color: var(--color-sheet)
}

main {
	padding-top: 8em;
	padding-top: max(8em, 20vmin)
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	transition: color 0.2s ease, text-decoration-color 0.2s ease;
	text-decoration-thickness: 0.1em;
	text-decoration-width: 0.1em
}

a,
a:visited {
	color: inherit
}

p,
ul,
ol {
	margin: 0 0 var(--space-medium) 0;
	padding: 0;
	line-height: 1.5
}

img,
svg,
video {
	max-width: 100%;
	height: auto
}

label {
	display: block;
	margin: 1em 0 0 0;
	font-weight: bold;
	letter-spacing: -0.02em;
	line-height: 1.5;
	text-align: left
}

.fade-in {
	opacity: 0;
	animation: fade-in 0.3s ease-out forwards
}

@supports (-webkit-touch-callout: none) {
	.fade-in--safely {
		opacity: 1;
		animation: none
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.push-small--bottom {
	margin-bottom: var(--space-small) !important
}

.push-large--top {
	margin-top: var(--space-large) !important
}

.txt-heavy {
	font-size: var(--type-large);
	font-weight: 500
}

.txt-x-small {
	font-size: var(--type-x-small)
}

.button {
	transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
	display: inline-block;
	padding: 0.4em 1em;
	color: var(--color-sheet);
	font-family: var(--font-sans);
	text-decoration: none;
	text-align: center;
	line-height: normal;
	-webkit-appearance: none;
	background-color: var(--color-link) !important;
	background: linear-gradient(90deg, var(--color-link) 0%, var(--color-cobalt) 100%) !important;
	border-radius: 1.5em;
	border: 0;
	box-shadow: none
}

.button:visited {
	color: var(--color-sheet)
}

.footer {
	margin: 10em 0 0 0;
	padding: 1em 0;
	text-align: center
}

.grid {
	display: grid;
	grid-template-columns: [max] 1fr [l] 1fr [m] repeat(3, [m] 28vw) [m] 1fr [l] 1fr [max]
}

@media (min-width: 45em) {
	.grid {
		grid-template-columns: [max] 1fr [l] minmax(11ch, 0.7fr) [m] repeat(3, [m] 21.66ch) [m] minmax(11ch, 0.7fr) [l] 1fr [max]
	}
}

.grid>:not([class*="grid"]) {
	grid-column: m / m 4
}

.header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	transition: box-shadow 0.3s ease;
	box-shadow: 0 0 3rem transparent;
	background-color: var(--color-sheet)
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	z-index: 20000;
	margin: 0;
	padding: 0.75rem
}

@media (min-width: 45em) {
	.header__nav {
		padding: 1rem
	}
}

.header__logo {
	width: 4.5em;
	height: 2.2em;
	margin: 0;
	text-align: left
}

.header__links {
	display: block;
	margin: 0;
	padding: 0;
	font-size: var(--type-medium)
}

@media (max-width: 44.99em) {
	.header__links {
		position: absolute;
		top: 8rem;
		right: -25rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0;
		padding: 0;
		font-size: var(--type-large);
		-webkit-overflow-scrolling: touch
	}
	.header__links::after {
		transition: opacity 0.15s ease-in-out;
		content: '';
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-backdrop-filter: blur(15px);
		opacity: 0;
		pointer-events: none;
		background-color: rgba(255, 255, 255, 0.8)
	}
	@supports (-webkit-backdrop-filter: blur()) {
		.header__links::after {
			-webkit-backdrop-filter: blur(10px);
			background-color: rgba(255, 255, 255, 0.4)
		}
	}
}

.header__link {
	transition: color 0.2s ease, text-decoration-color 0.2s ease, box-shadow 0.2s ease;
	transform: none;
	margin: 0 0 0 0.6em;
	display: inline-block;
	line-height: 1.5;
	font-weight: 700
}

.header__checkbox {
	display: none
}

.header__toggle {
	display: none
}

@media (max-width: 44.99em) {
	.header__toggle {
		display: block;
		margin: 0;
		padding: 0.5em;
		cursor: pointer;
		font-size: var(--type-medium);
		font-weight: 700;
		color: var(--color-link)
	}
	.header__toggle span {
		transition-duration: 0s;
		transition-delay: 0.15s;
		position: relative;
		display: inline-flex;
		top: -0.4rem;
		width: 1.75rem;
		height: 0.3rem;
		margin-right: 0.125em;
		background-color: var(--color-link);
		border-radius: 0.5rem
	}
	.header__toggle span::after,
	.header__toggle span::before {
		right: 0;
		transition-delay: 0.15s, 0s;
		transition-duration: 0.15s;
		transition-property: margin, transform;
		display: block;
		content: '';
		position: absolute;
		width: 2.25rem;
		height: 0.3rem;
		background-color: var(--color-link);
		border-radius: 0.5rem
	}
	.header__toggle span::before {
		margin-top: -0.7rem
	}
	.header__toggle span::after {
		margin-top: 0.7rem
	}
}

@media (max-width: 44.99em) {
	.header__checkbox:checked~.header__links::after {
		opacity: 1;
		pointer-events: auto
	}
	.header__checkbox:checked~.header__links .header__link {
		transition-duration: 0.25s;
		transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translate(-27rem, 0)
	}
}

.header__checkbox:checked~.header__toggle span {
	background-color: transparent
}

.header__checkbox:checked~.header__toggle span::before,
.header__checkbox:checked~.header__toggle span::after {
	transition-delay: 0s, 0.2s;
	margin-top: 0
}

.header__checkbox:checked~.header__toggle span::before {
	transform: rotate(45deg)
}

.header__checkbox:checked~.header__toggle span::after {
	transform: rotate(-45deg)
}

.hide-screens {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden
}