{{ define "layout" }}
	<!DOCTYPE html>
	<html lang="en">
		{{ template "head" .}}
		<body>
			{{ template "navbar" . }}
		    <main id="content" class="grid fade-in">
		        <section class="txt-heavy" style="padding: 30px;border-top:4px solid #989faa;border-bottom:4px solid #989faa">
		            <p>
			            <a href="/blog/the_journey_so_far" class="header__logo" aria-label="Jeifai">
			            	The Journey So Far
			        	</a>
			        </p>
		        	<p style="text-align: justify; font-size: 20px;">
                It might sound obvious, but let's repeat it: 2020 has been an unusual year from too many points of view. Without taking into account the dramatic events occurred with the global pandemic emergency...
		        	</p>
		        	<p style="font-size: 16px;">
		        		<i>Roberto Malcotti - 01 January 2021
		        	</p>
		        </section>
		        <section class="txt-heavy" style="padding: 30px;border-top:4px solid #989faa;border-bottom:4px solid #989faa">
		            <p>
			            <a href="/blog/turning_into_ai" class="header__logo" aria-label="Jeifai">
			            	Jeifai is turning into AI
			        	</a>
			        </p>
		        	<p style="text-align: justify; font-size: 20px;">
						Any modern startup capable of generating data has as mandatory scenario the introduction of artificial intelligence (AI) dynamics within the business model. Moreover, a determining...
		        	</p>
		        	<p style="font-size: 16px;">
		        		<i>Roberto Malcotti - 15 November 2020
		        	</p>
		        </section>
		        <section class="txt-heavy" style="padding: 30px;border-top:4px solid #989faa;border-bottom:4px solid #989faa">
		            <p>
			            <a href="/blog/jeifai_is_using_notion" class="header__logo" aria-label="Jeifai">
			            	Why and how we started using Notion at Jeifai
			        	</a>
			        </p>
		        	<p style="text-align: justify; font-size: 20px;">
						You know the struggle. An idea starts to flow on your mind, it seems promising, it requires researches. You create a folder on Google Drive. Inside, other folders. Inside those folders, a river of...
		        	</p>
		        	<p style="font-size: 16px;">
		        		<i>Roberto Malcotti - 16 October 2020
		        	</p>
		        </section>
		        <section class="txt-heavy" style="padding: 30px;border-top:4px solid #989faa;border-bottom:4px solid #989faa">
		            <p>
			            <a href="/blog/human_resources_data_and_analytics" class="header__logo" aria-label="Jeifai">
			            	Human resources, data and analytics
			        	</a>
			        </p>
		        	<p style="text-align: justify; font-size: 20px;">
		        		As we entered the era of data we have seen more and more industries being involved into a process of transformation, accepting a paradigma in which any decision, even the smallest, has to be taken...
		        	</p>
		        	<p style="font-size: 16px;">
		        		<i>Roberto Malcotti - 03 October 2020
		        	</p>
		        </section>
		        {{ template "subscribe" . }}
	    	</main>
	    	{{ template "footer" . }}
		</body>
	</html>
{{ end }}
