{{ define "layout" }}
	<!DOCTYPE html>
	<html lang="en">
		{{ template "head" .}}
		<body>
			{{ template "navbar" . }}
		    <main id="content" class="grid fade-in">
		    	<p>
		            <h1>Human resources,<br>data and analytics.</h1>
		        </p>
		        <section class="txt-heavy" style="text-align: justify; font-size: 20px;">
		            <p>
		            	<b>A mature yet fresh ecosystem</b><br>
						As we entered the era of data we have seen more and more industries being involved in a process of transformation, accepting a paradigm in which any decision, even the smallest, has to be taken accordingly with data. For many years human resources have attracted an increasing interest by technologists and entrepreneurs of any kind, firmly believing about a potential appliable to human resources using data.<br>Software and specific technologies started to rise, taking care of almost any aspect of the HR journey and its variegated stakeholders. What we have now is a mature ecosystem: big players excellently cover internationally the main needs of the market, while smaller actors with their flexibility, fill the gaps in specific areas or countries.<br>This does not exclude room for improvements or further disruption. Technologies are changing on a fast paced, allowing brand new possibilities or improvement in already existing areas.
			            <figure>
			            	<img style="width:75%;height:75%" src="/static/images/blog/human_resources_and_data/human_resources_software_market.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 1 - HR Software Market Prediction - <a href="https://www.marketresearchfuture.com/reports/core-hr-software-market-3183">Source</a>
			            	</figcaption>
			            </figure>
					</p>
		            <p>
		            	<b>Crisis, threaths, but opportunities</b><br>
						The global pandemic crisis has dramatically accelerated the changes of human resources. The panorama of positions and skills that human resources professionals have to take care is expanding its horizon in directions not predictable earlier on.<br>Just considering the rise of remote working to imagine the new level of complexity an HR department has to manage with all the challenges connected. On another side, recruiting companies have a challenging job as well trying to stay on track with the multitude of software to manage candidates.<br>Artificial intelligence, automation and algorithms are doing marvellous things in this direction.
			            <figure>
			            	<img style="width:100%;height:100%" src="/static/images/blog/human_resources_and_data/21_hr_jobs_ofthe_future.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 2 - 21 HR Jobs of the Future - <a href="https://www.cognizant.com/whitepapers/21-hr-jobs-of-the-future-codex5450.pdf">Source</a>
			            	</figcaption>
			            </figure>
					</p>
		            <p>
		            	<b>What matters is data</b><br>
						As we take for granted this transformation process, we have all to agree that is data the main driver of this revolution. Players against this change or not yet data driven will sooner or later realise how such behaviour will totally jeopardize their business, leading to the risk of being cut out from the industry. This is a typical evolutionary scenario in which a species survives and another collapse. HR data driven does not mean exclusively having technical skills to process a certain amount of information. It means a long path journey with a clear start, which is having reilable sources of information from where extracting punctual data.
			            <figure>
			            	<img style="width:50%;height:50%" src="/static/images/blog/human_resources_and_data/evolution.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 3 - Walking Man Evolution - <a href="https://pixabay.com/vectors/evolution-walking-charles-darwin-297234/">Source</a>
			            	</figcaption>
			            </figure>
					</p>
		            <p>
		            	<b>Looking for an oracle</b><br>
						The HR ecosystem is generating an exponentially growing amount of information. This information is available using well known medium, such as proprietary software. While these solutions allow ease of entry and friendliness of use, it is also true that many other people are looking at the same pie, trying to explore it from different angles and perspective. What can really make the difference is to rely on new sources of data, gathering insights not accessible to anyone, leading to a competitive advantage which might be exploited in many profitable ways.
			            <figure>
			            	<img style="width:75%;height:75%" src="/static/images/blog/human_resources_and_data/hr_analytics_components.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 4 - HR Analytics Components
			            	</figcaption>
			            </figure>
					</p>
					<p>
						Being data driven means reilable sources, ability to manipulate data, capacity to generate insight, and lastly, maybe more importantly, <b>talent to spot new ways to gather data not available to competitors</b>.
		            </p>
		        </section>
		        {{ template "subscribe" . }}
	    	</main>
	    	{{ template "footer" . }}
		</body>
	</html>
{{ end }}