{{ define "layout" }}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">  
			<title>Jeifai - Data Driven Job Hunting.</title>
			<meta name="description" content="Data Driven Job Hunting.">  
			<meta property="og:title" content="Jeifai"/>
			<meta property="og:description" content="Data Driven Job Hunting."/>
			<meta property="og:url" content="https://jeifai.ew.r.appspot.com">
			<link rel="stylesheet" type="text/css" href="/static/css/style.css">
			<link rel="canonical" href="https://jeifai.ew.r.appspot.com">
			<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
		</head>
		<body>
			<header class="header" data-style-header>
				<a class="header__skip hide-screens button" href="#content">Skip to content</a>
				<nav class="header__nav" aria-label="main">
	    			<a href="/" class="header__logo" aria-label="Jeifai">
	    				<img src="/static/images/logoBlack.png" alt="triangle with all three sides equal" height="38px" width="82px"/>
	    			</a>
					<input type="checkbox" id="hamburger" class="header__checkbox"/>
					<label class="header__toggle" for="hamburger"><span></span> Menu</label>
					<div class="header__links">
						<a class="header__link" href="/">Home</a>
						<a class="header__link" href="/invitation">Demo</a>
						<a class="header__link button" href="/login">Log in</a>
					</div>
				</nav>
			</header>
		    <main id="content" class="grid fade-in">
		    	<p>
		            <strong class="txt-x-large">
		                Human resources and data.
		            </strong>
		        </p>
		        <section class="txt-heavy" style="text-align: justify;">
		            <p style="font-size: 20px;">
		            	<b>A mature yet fresh ecosystem</b><br>
						As we entered the era of data we have seen more and more industries being involved into a process of transformation, accepting a paradigma in which any decision, even the smallest, has to be taken accordingly with data. Since many years human resources have attracted an increasing interest by technologists and entrepreneurs of any kind, firmly convinced about a potential applicable to human resources using data.<br>Software and specific technolgies started to rise, taking care of almost any aspect of the HR journey and its variagate stakeholders. What we have now is a mature ecosytsem: big players excellently cover internationally the main needs of the market, while smaller actors with their flexibility, fill the gaps in specific areas or countries.<br>This does not exclude room for improvements or further distruption. Technologies are changing on a fast paced, allowing brand new possibilities or improvment in already existing areas.
			            <figure>
			            	<img style="width:75%;height:75%" src="/static/images/blog/human_resources_and_data/human_resources_software_market.png">
			            	<figcaption style="font-size: 12px;">Fig.1 - Trulli, Puglia, Italy.</figcaption>
			            </figure>
					</p>
		            <p>
		            	<b>Crisis, threaths, but opportunities</b><br>
						The global pandemic crisis has dramatically accellerated the changes of human resources. The panorama of positions and skills that human resources professionals have to take care is expanding its horizon in directions not predictable earlier on. Just considering the rise of remote working to imagine the new level of complexity an HR department has to manage with all the challenges connected. On an other side, recruiting companies have a challenging job as well trying to stay on track with the multitude of software to manage candidates. Artificial intelligence, automation and algorithms are doing marvellous things in this direction.
					</p>
		            <p>
		            	<b>What matters is data</b><br>
						As we take for granted this transformation process, we have all to agree that is data the main driver of this revolution. Players against this change or not yet data driven will sooner or later realise how such behaviour will toally jeoparide their business, leading to the risk of being cutted out from the industry. This is a typical evolutive scenario in which a species surives and an other collapse. HR data driven does not mean exlusivly having technical skills to process a certain amount of information. It means a long path journey with a clear start, which is having reilable sources of information from where extracting punctual data. 
					</p>
		            <p>
		            	<b>Looking for an oracle</b><br>
						The HR ecosytsem is generating an exponentially growing amount of information. This information is accessable using well known medium, such as propretary software. While these solutions allow ease of entry and friendliness of use, it is also true that many other people are looking at the same pie, trying to explore it from different angles and perspective. What can really make the difference is to rely on new sources of data, gathering insights not accessable to anyone, leading to a competitive advantage which might be exploited in many profitable ways.
					</p>
					<p>
						Being data driven means reilable sources, ability to manipulate data, capacity to generate insight, and lastly, maybe more importantly, <b>talent to spot new ways to gather data not accessible to competitors</b>.
		            </p>
		        </section>
	    	</main>
			<footer class="footer grid">
				<p class="push-large--top push-small--bottom">Questions? Email us at <a href="mailto:roberto@jeifai.com">roberto@jeifai.com</a></p>
				<p class="txt-x-small">
		    		<em>Copyright ©2020 Jeifai. All rights reserved.</em>
		  		</p>
		  	</footer>
		</body>
	</html>
{{ end }}