{{ define "layout" }}
	<!DOCTYPE html>
	<html lang="en">
		{{ template "head" .}}
		<body>
			{{ template "navbar" . }}
		    <main id="content" class="grid fade-in">
		    	<p>
		            <h1>Human resources,<br>data and analytics.</h1>
		        </p>
		        <section class="txt-heavy" style="text-align: justify; font-size: 20px;">
		            <div>
		            	<h3>A mature yet fresh ecosystem</h3><br>
						<p>As we entered the era of data we have seen more and more industries getting involved in a process of transformation, accepting a paradigm where every decision, even the smallest one, has to be taken accordingly to data.</p>
						<p>For many years, human resources have attracted an increasing interest by technologists and entrepreneurs of any kind, firmly believing about a potential applicable to human resources using data.</p>
						<p>Software and specific technologies started to rise, taking care of almost any aspect of the HR journey and its variegated stakeholders. What we have now is a mature ecosystem: big players excellently covering the main needs of the market internationally, while smaller actors, with their flexibility, fill the gaps in specific areas or countries.</p>
						<p>This does not exclude room for improvement or further disruption. Technologies are changing at a fast pace, allowing brand new possibilities or improvement in already existing areas.</p>
			            <figure>
			            	<img style="width:75%;height:75%" src="/static/images/blog/human_resources_and_data/human_resources_software_market.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 1 - HR Software Market Prediction - <a href="https://www.marketresearchfuture.com/reports/core-hr-software-market-3183" target="_blank">Source</a>
			            	</figcaption>
			            </figure>
					</div>
		            <div>
		            	<h3>Crisis, threats, but opportunities</h3><br>
						<p>The global pandemic crisis has dramatically accelerated the changes in human resources. The panorama of positions and skills that human resources professionals have to take care of is expanding its horizon in directions that were not predictable/foreseeable earlier on.</p>
						<p>Just take the rise of remote working to imagine the new level of complexity an HR department has to manage with all the challenges that these imply. On another side, recruiting companies have a challenging job as well, trying to stay on track with the multitude of software to manage candidates.</p>
						<p>Artificial intelligence, automation and algorithms are doing marvellous things in this direction.</p>
			            <figure>
			            	<img style="width:100%;height:100%" src="/static/images/blog/human_resources_and_data/21_hr_jobs_ofthe_future.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 2 - 21 HR Jobs of the Future - <a href="https://www.cognizant.com/whitepapers/21-hr-jobs-of-the-future-codex5450.pdf" target="_blank">Source</a>
			            	</figcaption>
			            </figure>
					</div>
		            <div>
		            	<h3>What matters is data</h3><br>
						<p>As we take for granted this transformation process, we all have to agree on data being the main driver of this revolution.</p>
						<p>Players against this change or not yet data driven will sooner or later realise how such behaviour will totally jeopardize their business, leading to the risk of being cut out from the industry. This is a typical evolutionary scenario in which a species survives and another one collapses.</p>
						<p>HR data driven does not mean exclusively having technical skills to process a certain amount of information. It means a long path journey with a clear start, which is having reliable sources of information from where to extrac punctual data.</p>
			            <figure>
			            	<img style="width:50%;height:50%" src="/static/images/blog/human_resources_and_data/evolution.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 3 - Walking Man Evolution - <a href="https://pixabay.com/vectors/evolution-walking-charles-darwin-297234/" target="_blank">Source</a>
			            	</figcaption>
			            </figure>
					</div>
		            <div>
		            	<h3>Looking for an oracle</h3><br>
						<p>The HR ecosystem is generating an exponentially growing amount of information. This information is available using well known medium, such as proprietary software.</p>
						<p>While these solutions allow ease of entry and friendliness of use, it is also true that many other people are looking at the same pie, trying to explore it from different angles and perspectives.</p>
						<p>What can really make the difference is to rely on new sources of data, gathering insights not accessible to anyone, leading to a competitive advantage which might be exploited in many profitable ways.</p>
			            <figure>
			            	<img style="width:75%;height:75%" src="/static/images/blog/human_resources_and_data/hr_analytics_components.png">
			            	<figcaption style="font-size: 12px;">
			            		Fig 4 - HR Analytics Components
			            	</figcaption>
			            </figure>
					</div>
					<div>
						<p>Being data driven means reilable sources, ability to manipulate data, capacity to generate insight, and lastly, maybe more importantly, <b>talent to spot new ways to gather data not available to competitors</b>.</p>
		            </div>
		        </section>
		        {{ template "subscribe" . }}
	    	</main>
	    	{{ template "footer" . }}
		</body>
	</html>
{{ end }}