{{ define "content" }}
    <div id="app">
        <span class="mdc-top-app-bar__title">~ Hi {{.User.UserName}}</span><br>
        <span class="mdc-top-app-bar__title">{{.Home.Targets}} targets are being monitored by {{.Home.Keywords}} keywords so far.</span>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                selectedIndex: 0
            },
            methods: {
            }
        })
    </script>
    <style>
    </style>
{{ end }}