{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">  
		<title>Jeifai - Data Driven Job Hunting.</title>
		<meta name="description" content="Data Driven Job Hunting.">  
		<meta property="og:title" content="Jeifai"/>
		<meta property="og:description" content="Data Driven Job Hunting."/>
		<meta property="og:url" content="https://jeifai.ew.r.appspot.com">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="canonical" href="https://jeifai.ew.r.appspot.com">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script>
	</head>
	<body>
		<header class="header" data-style-header>
			<a class="header__skip hide-screens button" href="#content">Skip to content</a>
			<nav class="header__nav" aria-label="main">
    			<a href="/" class="header__logo" aria-label="Jeifai">
    				<img src="/static/logo.svg" alt="triangle with all three sides equal" height="38px" width="82px"/>
    			</a>
				<input type="checkbox" id="hamburger" class="header__checkbox"/>
				<label class="header__toggle" for="hamburger"><span></span> Menu</label>
				<div class="header__links">
					<a class="header__link" href="/">How it works</a>
					<a class="header__link" href="/">Features</a>
					<a class="header__link" href="/">Pricing</a>
					<a class="header__link" href="/">FAQs</a>
					<a class="header__link" href="/invitation">Join</a>
					<a class="header__link button" href="/login">Log in</a>
				</div>
			</nav>
		</header>
        <div id="app">
            <main id="content" class="grid fade-in">
                <section class="txt-heavy">
                <p>We are truly excided, you want to join our club ;)</p>
                <p>Before make it official, we need to ask you a few questions.</p>
                <div>
                    <label for="username">Email:</label><br>
                    <input type="email" name="email" id="email" class="form-control" placeholder="email" v-model="infos.Email" required autofocus>
                </div>
                <div>
                    <label for="whyjoin">Why would you like to join us?</label><br>
                    <input type="text" name="whyjoin" id="whyjoin" class="form-control" placeholder="Why joining us" v-model="infos.Whyjoin" required>
                </div>
                <div>
                    <label for="whichcompanies">Which companies would you ask us to monitor?</label><br>
                    <input type="text" name="whichcompanies" class="form-control" id="whichcompanies" placeholder="Which companies" v-model="infos.Whichcompanies" required>
                </div>
                <div>
                    <label for="anythingelse">Anything else?</label><br>
                    <input type="text" name="anythingelse" class="form-control" id="anythingelse" placeholder="Anything else" v-model="infos.Anythingelse" required>
                </div>
                <div>
                    <input type="submit" name="submit" value="submit" v-on:click="submitInvitation">
                </div>
                <p v-for="(message, index) in messages">
                    <span v-html="message"></span>
                </p>
            </main>
        </div>
		<footer class="footer grid">
			<p class="push-large--top push-small--bottom">Questions? Need help? Email us at <a href="mailto:robimalco@gmail.com">robimalco@gmail.com</a>.</p>
			<p class="txt-x-small">
				<em>Jeifai is designed, built, and backed by me ;)</em>
			</p>
		</footer>
        <script>
            new Vue({
                el: '#app',
                delimiters: ["[[","]]"],
                data: {
                    infos: {},
                    messages: '',
                },
                methods: {
                    submitInvitation: function() {
                        this.$http.put('/invitation', this.infos).then(function(response) {
                            this.messages = response.data.Messages
                        }).catch(function(error) {
                            console.log(error)
                        });
                    },
                }
            })
        </script>
	</body>
</html>
{{ end }}
