{{ define "main" }}
    <main id="content" class="grid fade-in">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script>
        <div id="app">
            <div class="form-group">
                <label for="email" class="text-info">Email:</label><br>
                <input type="email" name="email" id="email" class="form-control" placeholder="email" v-model="infos.Email" required>
            </div>
            <div>
                <input type="submit" name="submit" value="submit" v-on:click="resetPassword">
            </div>
            <p v-for="(message, index) in messages">
                <span v-html="message"></span>
            </p>
        </div>
        <script>
            new Vue({
                el: '#app',
                delimiters: ["[[","]]"],
                data: {
                    infos: {},
                    messages: '',
                },
                methods: {
                    resetPassword: function() {
                        this.$http.put('/forgot_password', this.infos).then(function(response) {
                            this.messages = response.data.Messages
                        }).catch(function(error) {
                            console.log(error)
                        });
                    },
                }
            })
        </script>
    </main>
{{ end }}