{{ define "main" }}
    <section class="txt-heavy">
        <p>Hey there ~~~</p>
        <p>Everyone is talking about data, isn't it?</p>
        <p>Multiple industries, a common need: data driven decisions.</p>
        <p>Recruitment is not different.</p>
        <p>There are plenty of excellent ways to spot and manage candidates.</p>
        <p>However we think there are no tools able to provide you data about the most attractive companies out there.</p> 
        <p>With Jeifai we do just that.</p>
        <p>We've built a sophisticated framework to monitor career's pages in real time .</p>
        <p>Tell us a company to follow. We'll do the hard work for you.</p>
{{ end }}