 {{ define "head" }}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title>Jeifai - Data Driven Job Hunting.</title>
        <meta name="description" content="Data Driven Job Hunting.">  
        <meta property="og:title" content="Jeifai"/>
        <meta property="og:description" content="Data Driven Job Hunting."/>
        <meta property="og:url" content="https://jeifai.ew.r.appspot.com">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="canonical" href="https://jeifai.ew.r.appspot.com">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.ico">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180812973-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-180812973-1');
        </script>
    </head>
 {{ end }}