{{ define "main" }}
    <section class="txt-heavy">
        <p>Hey there ~~~</p>
        <p>Everyone is talking about data, isn't it?</p>
        <p>Multiple industries, a common need: data driven decisions.</p>
        <p>Recruitment is not different.</p>
        <p>There are plenty of excellent ways to manage candidates.
            However we think there are no tools dedicated to companies.</p> 
        <p>Jeifai does just that.</p>
        <p>We monitor career pages, you leverage your potential.</p>
        <p>Tell us a company to follow, we'll get the job done.</p>
{{ end }}