{{ define "layout" }}
    <!DOCTYPE html>
    <html lang="en">
        {{ template "head" .}}
        <body>
            {{ template "navbar" . }}
            <main id="content" class="grid fade-in">      
                <section class="txt-heavy">
                <p>We are truly excided, you want to join our club ;)</p>
                <p>Before make it official, we need to ask you a few questions.</p>
                <form action="/invitation" method="post" target="responseIFrame">
                    <div>
                        <label for="email">Email:</label><br>
                        <input type="email" name="email" id="email" class="form-control" placeholder="email" required autofocus>
                    </div>
                    <div>
                        <label for="email">Who are you?</label><br>
                        <select id="whoareyou" name="whoareyou"  required>
                            <option value="HeadHunter">Head Hunter</option>
                            <option value="Company">Company</option>
                            <option value="NoProfit">No Profit</option>
                        </select>
                    </div>
                    <div>
                        <label for="whyjoin">Why would you like to join us?</label><br>
                        <input type="text" name="whyjoin" id="whyjoin" class="form-control" placeholder="Why joining us" required>
                    </div>
                    <div>
                        <label for="whichcompanies">Which companies would you ask us to monitor?</label><br>
                        <input type="text" name="whichcompanies" class="form-control" id="whichcompanies" placeholder="Which companies" required>
                    </div>
                    <div>
                        <label for="anythingelse">Anything else?</label><br>
                        <input type="text" name="anythingelse" class="form-control" id="anythingelse" placeholder="Anything else" required>
                    </div>
                    <div>
                        <input type="submit" name="submit" value="submit">
                    </div>
                </form>
                <iframe id="responseIFrame" name="responseIFrame" style="border-width: 0px;"></iframe>
            </main>
            {{ template "footer" . }}
            <script>
                var frame = document.getElementById('responseIFrame');
                frame.onload = function () {
                    frame.contentWindow.document.querySelector('body').style.fontSize = '30px';
                };
            </script>
        </body>
    </html>
{{ end }}