{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">  
		<title>Jeifai - Data Driven Job Hunting.</title>
		<meta name="description" content="Data Driven Job Hunting.">  
		<meta property="og:title" content="Jeifai"/>
		<meta property="og:description" content="Data Driven Job Hunting."/>
		<meta property="og:url" content="https://jeifai.ew.r.appspot.com">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="canonical" href="https://jeifai.ew.r.appspot.com">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	</head>
	<body>
		<header class="header" data-style-header>
			<a class="header__skip hide-screens button" href="#content">Skip to content</a>
			<nav class="header__nav" aria-label="main">
    			<a href="/" class="header__logo" aria-label="Jeifai">
    				<img src="/static/logoBlack.png" alt="triangle with all three sides equal" height="38px" width="82px"/>
    			</a>
				<input type="checkbox" id="hamburger" class="header__checkbox"/>
				<label class="header__toggle" for="hamburger"><span></span> Menu</label>
				<div class="header__links">
					<a class="header__link" href="/how">How it works</a>
					<a class="header__link" href="/">Features</a>
					<a class="header__link" href="/">Pricing</a>
					<a class="header__link" href="/faq">FAQs</a>
					<a class="header__link" href="/invitation">Join</a>
					<a class="header__link button" href="/login">Log in</a>
				</div>
			</nav>
		</header>
		<main id="content" class="grid fade-in">
            {{ template "main" . }}
		</main>
		<footer class="footer grid">
			<p class="push-large--top push-small--bottom">Questions? Email us at <a href="mailto:robimalco@gmail.com">robimalco@gmail.com</a>.</p>
		</footer>
	</body>
</html>
{{ end }}
