{{ define "main" }}
    <main>
        <div class="grid__max grid hiw-hero-splash push--top fade-in">
            <strong class="txt-x-large" style="text-align:center;">
                Easily add new keywords and targets.
            </strong><br><br><br>
            <figure>
                <img width="1500" height="700" src="/static/gif/adding.gif">
            </figure>
        </div>
    </main>
    <main>
        <div class="grid__max grid hiw-hero-splash push--top fade-in">
            <strong class="txt-x-large" style="text-align:center;">
                Explore all your matching results with filters.
            </strong><br><br><br>
            <figure>
                <img width="1500" height="700" src="/static/gif/filtering.gif">
            </figure>
        </div>
    </main>
    <main>
        <div class="grid__max grid hiw-hero-splash push--top fade-in">
            <strong class="txt-x-large" style="text-align:center;">
                Combine keywords and targets for new results.
            </strong><br><br><br>
            <figure>
                <img width="1500" height="700" src="/static/gif/combining.gif">
            </figure>
        </div>
    </main>
    <main>
        <div class="grid__max grid hiw-hero-splash push--top fade-in">
            <strong class="txt-x-large" style="text-align:center;">
                Save the most interesting results to monitor them.
            </strong><br><br><br>
            <figure>
                <img width="1500" height="700" src="/static/gif/saving.gif">
            </figure>
        </div>
    </main>
    <main>
        <div class="grid__max grid hiw-hero-splash push--top fade-in">
            <strong class="txt-x-large" style="text-align:center;">
                Get unique and cutting edge insights.
            </strong><br><br><br>
            <figure>
                <img width="1500" height="700" src="/static/gif/analysing.gif">
            </figure>
        </div>
    </main>
    <main>
        <div class="grid__max grid hiw-hero-splash push--top fade-in">
            <strong class="txt-x-large" style="text-align:center;">
                Be the first to know when a company has new jobs.
            </strong><br><br><br>
            <figure>
                <img width="1500" height="700" src="/static/gif/sending.gif">
            </figure>
        </div>
    </main>
{{ end }}
