{{ define "main" }}
    <section class="txt-heavy">
        <h1 class="txt-center" style="padding:0px;margin:0px;">
            HR Data Detective
        </h1>
        <h3 class="txt-center" style="padding:0px;margin:0px;">
            <u>pioneering data-driven recruitment</u>
        </h3>
        <br><br>
        <p>Hey there ~~~</p>
        <p>Everyone is talking about data, isn't it?</p>
        <p><b>Jeifai</b> just does that.</p>
        <p>Our goal is to provide you data that nobody else has.</p>
        <p>With our software we monitor career pages.</p>
        <p>With the data you leverage your potential.</p>
        <p><b>Tell us a company to follow, we'll get the job done.</b></p>
{{ end }}