{{ define "layout" }}
    <!DOCTYPE html>
    <html lang="en">
        {{ template "head" .}}
        <body>
            {{ template "navbar" . }}
            <main id="content" class="grid fade-in">
                <form action="/forgot_password" method="post" target="responseIFrame">
                    <div class="form-group">
                        <label for="email" class="text-info">Email:</label><br>
                        <input type="email" name="email" id="email" class="form-control" placeholder="email" required>
                    </div>
                    <div>
                        <input type="submit" name="submit" value="submit">
                    </div>
                </form>
                <iframe id="responseIFrame" name="responseIFrame" style="border-width: 0px; width: 100%;"></iframe>
            </main>
            {{ template "footer" . }}
            <script>
                var frame = document.getElementById('responseIFrame');
                frame.onload = function () {
                    frame.contentWindow.document.querySelector('body').style.fontSize = '30px';
                };
            </script>
        </body>
    </html>
{{ end }}