 {{ define "footer" }}
    <footer class="footer grid">
      <ul id="social-horizontal-list">
        <li>
          <a href="https://www.twitter.com/jeifaicom" target="_blank" class="fa fa-twitter social-style"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/jeifai" target="_blank" class="fa fa-linkedin social-style"></a>
        </li>
      </ul>
        <p class="push-large--top push-small--bottom">Questions? Email us at <a href="mailto:roberto@jeifai.com">roberto@jeifai.com</a></p>
        <p class="txt-x-small">
            <em>Copyright ©2020 Jeifai. All rights reserved.</em>
        </p>
    </footer>
 {{ end }}
