{{ define "main" }}
    <h1 class="txt-center">Jefai is cool and simple.</h1>
    <div class="grid__max grid hiw-hero-splash push--top fade-in">
        <figure class="hiw-hero grid__wide fade-in delay-short">
        <img width="2000" height="1125" src="/static/images/home.png">
        </figure>
    </div>
    <h2 class="txt-center">Three things to remember.</h2>
    <h3 class="txt-center push-large--top">1 ~ Targets</h3>
    <section class="hiw-reply-split">
        <p>A target is a company you decide to monitor. Whether you target a big corporation or a small startup, we track their career page. You can choose a target from a list of existing ones, or in alternative ask a new one. In such a case, our team evaluates you request and write you as soon as possible.</p>
        <figure>
        <img width="900" height="900" src="/static/images/targets.png">
        </figure>
    </section>
    <h3 class="txt-center push-large--top">2 ~ Keywords</h3>
    <section class="hiw-reply-split">
        <figure>
        <img width="900" height="900" src="/static/images/keywords.png">
        </figure>
        <p>A keyword is a word presents in a job published by some of your targets. Imagine it as the word that must be present on the job title. For example, an analytical profile would add "data", while a marketer would add "marketing", and so on.<br>Pretty simple right?</p>
    </section>
    <h3 class="txt-center push-large--top">3 ~ Matches</h3>
    <section class="hiw-reply-split">
        <p>Let's connect the dots.<br>keyword + target = match.<br>In this section you can find all your results. Anyhow, you will be receiving an alert whenever a match happens. The goal is to react as fast as possible to a match in order to be the first on the list.</p>
        <figure>
        <img width="900" height="900" src="/static/images/matches.png">
        </figure>
    </section>
    <h2 class="txt-center">Now you know (almost) everything about us. Ready to have a go?</h2>
{{ end }}