{{ define "main" }}
    <section class="txt-heavy">
        <p>Here condensed all Jeifai's features. More on the way!</p><br><br>
        <strong class="txt-x-large">
            1 ~ Home Dashboard
        </strong>
            <p>
                A quick look to monitor your main KPIs, 
                how your keywords are performing,
                as well as useful insights about your targets.
                Defintely powerful!
            </p><br><br>
        <strong class="txt-x-large">
            2 ~ Targets suggestion
        </strong>
            <p>
                Pick companies from our list of alternatively choose new ones!
                This is pretty cool: in no time you can have full control of what is happening around you.
            </p><br><br>
        <strong class="txt-x-large">
            3 ~ Keywords management
        </strong>
            <p>
                Our interface allows you to quickly manage all your keywords from a single place.
                Easily apply a keyword to a target or to all of them, as well as getting rid of the non relevant ones.
            </p><br><br>
        <strong class="txt-x-large">
            4 ~ Advanced filters
        </strong>
            <p>
                Filters greatly enhance your experience.
                Our filters are smart, you can apply them to any columns, 
                allowing you to focus only on the information you need.
            </p><br><br>
        <strong class="txt-x-large">
            5 ~ Notifications
        </strong>
            <p>
                Rapidity is a must have skill nowdays.
                As soon as a keyword matches a target you get notified by email.
                You will be able to take actions faster and before anyone else.
            </p><br><br>
        <strong class="txt-x-large">
            6 ~ Analytics
        </strong>
            <p>
                From great data come great responsibility.
                We are working hard to give you the most interesting KPIs you have ever watched.
            </p><br><br>
        <strong class="txt-x-large">
            7 ~ Export data
        </strong>
            <p>
                Export your data and explore them within your favourite tool.
            </p><br><br>
        <strong class="txt-x-large">
            8 ~ Coming ~  Keywords analysis
        </strong>
            <p>
                What if we are able to tell you how appetible are your keywords in the job market?
            </p><br><br>
        <strong class="txt-x-large">
            9 ~ Coming ~  Open/Close analysis
        </strong>
            <p>
                Explore which positions have been opened or closed in a certain period of time.
            </p><br><br>
{{ end }}
