{{ define "main" }}
    <section class="txt-heavy">
        <p>This section is constantly updated based on questions we receive from our customers.</p>
        <strong class="txt-clipping txt-clipping--subtle">
            How does Jeifai works?
        </strong>
        <p>Jaifai monitors targets for you. Those can be companies you desire to work for, or also competitors you want to follow.
            Our team review your request, notifying you as soon as the targets are ready. In that moment our engine starts producing valuable data for you.
            As next step, you decide which keywords to add. Those keywords will produce matches. That's all!</p>
        <strong class="txt-clipping txt-clipping--subtle">
            How long does it take to review my targets?
        </strong>
        <p>It depends by the size of the company, usually bigger the company, bigger the complexity, but it is not always the case.
            Our framework is flexibile, allowing us to add a new target in a few minutes.  We strive to provide quality, 
            for this reason we notify you only when we are totally satisifed about the results.</p>
        <strong class="txt-clipping txt-clipping--subtle">
            What about your technology?
        </strong>
        <p>We have a proprietary software which is running using latest cloud technologies. At the beginning this decision was not optimal, because it has required
            us to slow down our developing processes, due to the necessity to learn new things, but we are sure in the long run it will pay off its dividends. 
            We have total control, strong felxibility and ability to scale. Any decision we take has simplicity and maintenability as priority. 
            As soon as things get too complex, we try to look things from different angles.</p>
        <strong class="txt-clipping txt-clipping--subtle">
            Can I receive support?
        </strong>
        <p>Our team is always available helping you to set up and configure your experience.
        </p>
        <strong class="txt-clipping txt-clipping--subtle">
            Do you need feedback?
        </strong>
        <p>Yes. We are looking for customers eagle to help us doing better. This means suggesting us new features, what they like, and of course, what they don't.
            This collaboration aims to constantly improve Jeifai, to reach a full customer satisfaction.
        </p>
        <strong class="txt-clipping txt-clipping--subtle">
            Are you working on new features?
        </strong>
        <p>We have plenty of ideas and new features to implement Some are short term, while others would require us a bit of time.
            Also in this case, your feedback and support are really appreciated.
        </p>
{{ end }}
