{{ define "main" }}
    <main id="content" class="grid fade-in">
	    <h1 class="txt-center">A tool tailored to your needs.</h1>
	    <div class="grid__max grid hiw-hero-splash push--top fade-in">
	        <figure class="hiw-hero grid__wide fade-in delay-short">
	        <img width="2000" height="1125" src="/static/images/price.png">
	        </figure>
	    </div><br>
	    <section class="txt-heavy"><br>
		    <strong class="txt-x-large">
		        Examples
		    </strong>
		    <p>
		    	<b>Basic</b> account with <b>5</b> targets<br>
		    	9 € + 5 targets * 1 €/target = 14 €/month ~ 2.8 €/target
		    </p>
		    <p>
		    	<b>Basic</b> account with <b>10</b> targets<br>
		    	9 € + 10 targets * 1 €/target = 19 €/month ~ 1.9 €/target
		    </p>
		    <p>
		    	<b>Basic</b> account with <b>20</b> targets<br>
		    	9 € + 20 targets * 1 €/target = 29 €/month ~ 1.5 €/target
		    </p>
		    <p>
		    	<b>Enhanced</b> account with <b>10</b> targets<br>
		    	24 € + 10 targets * 0.95 €/target = 33.5 €/month ~ 3.4 €/target
		    </p>
		    <p>
		    	<b>Enhanced</b> account with <b>20</b> targets<br>
		    	24 € + 20 targets * 0.95 €/target = 43 €/month ~ 2.2 €/target
		    </p>
		    <p>
		    	<b>Enhanced</b> account with <b>50</b> targets<br>
		    	24 € + 50 targets * 0.95 €/target = 71.5 €/month ~ 1.4 €/target
		    </p>
		    <p>
		    	<b>Advanced</b> account with <b>10</b> targets<br>
		    	49 € + 10 targets * 0.9 €/target = 58 €/month ~ 5.8 €/target
		    </p>
		    <p>
		    	<b>Advanced</b> account with <b>50</b> targets<br>
		    	49 € + 50 targets * 0.9 €/target = 94 €/month ~ 1.9 €/target
		    </p>
		    <p>
		    	<b>Advanced</b> account with <b>100</b> targets<br>
		    	49 € + 100 targets * 0.9 €/target = 189 €/month ~ 1.9 €/target
		    </p>
		    <p>
		    	<b>Premium</b> account with <b>20</b> targets<br>
		    	99 € + 20 targets * 0.8 €/target = 115 €/month ~ 5.8 €/target
		    </p>
		    <p>
		    	<b>Premium</b> account with <b>100</b> targets<br>
		    	99 € + 100 targets * 0.8 €/target = 179 €/month ~ 1.8 €/target
		    </p>
		    <p>
		    	<b>Premium</b> account with <b>200</b> targets<br>
		    	99 € + 200 targets * 0.8 €/target = 259 €/month ~ 1.3 €/target
		    </p>
	    </section><br>
	</main>
{{ end }}