{{ define "layout" }}
    <!DOCTYPE html>
    <html lang="en">
        {{ template "head" .}}
        <body>
            {{ template "navbar" . }}
            <main id="content" class="grid fade-in">
                <form action="/reset_password/{{.Token}}" method="post" target="responseIFrame">
                    <div class="form-group">
                        <label for="password" class="text-info">Password:</label><br>
                        <input type="password" name="password" id="password" class="form-control" placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword" class="text-info">Repeat Password:</label><br>
                        <input type="password" name="repeatPassword" id="repeatPassword" class="form-control" placeholder="repeatPassword" required>
                    </div>
                    <div>
                        <input type="submit" name="submit" value="submit">
                    </div>
                </form>
                <iframe id="responseIFrame" name="responseIFrame" style="border-width: 0px; width: 100%;"></iframe>
            </main>
            {{ template "footer" . }}
            <script>
                var frame = document.getElementById('responseIFrame');
                frame.onload = function () {
                    frame.contentWindow.document.querySelector('body').style.fontSize = '30px';
                };
            </script>
        </body>
    </html>
{{ end }}